/* COLOR SCHEME */
:root {
    --main: #91BF51;
    --bg: #F7F7F7;
    --light-accent: #8C9594;
    --text: #343A39;
    --dark-accent: #92794E;
    --highlight: yellow;
}


/* GENERIC */
body {
    background-color: var(--bg);
    color: var(--text);
    font-size: 1.2em;
    font-family: "Times New Roman", Times, serif;
}

#title {
    text-align: center;
}

#content {
    max-width: 1000px;
    margin: auto;
    display: grid;
}

/* NAVBAR */
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    position: fixed;
}

#nav li a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Change the link color on hover */
#nav li a:hover {
    background-color: var(--light-accent);
    color: var(--bg);
}

/* TABLES */
.text table {
    border-collapse: collapse;
}

.text th, td {
    padding: 5px 10px 5px 5px;
    text-align: center;
    border-bottom: 1px solid var(--light-accent);
}

/* LEMMA */
.lemma.name {
    font-weight: bold;
    font-style: italic;
    flex-shrink: 0;
    font-size: 140%;
}

.lemma.props {
    font-style: italic;
    font-size: 80%;
}

.lemma.line {
    border: 0;
    border-top: 3px solid var(--light-accent);
    height: 1px;
    width: 100%;
}

/* DEFINITION */
.def.props {
    /* font-style: italic; */
    padding-bottom: 2%;
}

.term {
    font-variant: small-caps;
    font-size: 90%;
    /* font-weight: bold; */
    display: inline-block;
}

.glosses {
    font-style: italic;
}

.def.line {
    width: 50%;
    text-align: left;
    margin-left: 0;
    border: 0;
    border-top: 2px solid var(--light-accent);
    height: 1px;
}

/* DEFINITION LINKS */

.link-section {
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    font-size: 90%;
}

.link-section-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 115%;
    padding-bottom: 5px;
}

.links {
    width: 30%;
}

.backlinks {
}

.link-group {
    padding-bottom: 10px;
}

.link-group-label {
    font-weight: bold;
}

.link-url {
    padding-left: 10px;
}


/* RANDOM STUFF */
a, a:visited {
    color: var(--dark-accent);
    text-decoration: none;
}

.highlight {
    font-weight: bold;
    background-color: var(--highlight);
}

/* WIDGETS */
#widgets {
    display: flex;
    position: fixed;
    width: 20%;
    right: 5px;
}

#search {
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#select {
    width: 60px;
    height: 20px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
}
