<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site_name }}</title>
    <link rel="stylesheet" href="../data/dictus.css">
  </head>
  <body>
    {# Navigation Bar #}
    <div id="topnav">
      {% for lang in langs %}
        <a class="toplink" href="{{ lang[0] }}.html">{{ lang[1] }}</a>
      {% endfor %}
    </div>

    {# Search Bar #}
    <div id="widgets">
      <select id="select">
        {% block pos %}
        {% endblock pos %}          
      </select>
      <input id="search" placeholder="Search for words..." autocomplete="off">
    </div>

    {# BLOCK FOR CONTENT #}
    <div id="content">
      <h1 id="title">{{ lang.display_name }} Lexicon</h1>
      {% block content %}
        No words here...
      {% endblock content %}
    </div>
  </body>
</html>
