<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site_name }}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="dictus.css">
    <script src="dictus.js"></script>
  </head>
  <body>
    {# Navigation Bar #}
    <div id="nav">
      <ul>
        {% for lang in langs %}
          <li><a class="toplink" href="{{ lang[0] }}.html">{{ lang[1] }}</a></li>
        {% endfor %}
      </ul>
    </div>

    {# Search Bar #}
    <div id="widgets">
      <select id="select">
        {% block pos %}
        {% endblock %}          
      </select>
      <input id="search" type="search" placeholder="Search for words..." autocomplete="off">
    </div>

    <h1 id="title">{{ lang.display_name }} Lexicon</h1>
    {# BLOCK FOR CONTENT #}
    <div id="content">
      {% block content %}
        No words here...
      {% endblock %}
    </div>
  </body>
</html>
