{% extends "base.jinja2" %}
{% block pos %}
  <option value="all">All</option>
  {% for p in lang.pos_set %}
    <option value="{{ p|title }}">{{ p|title }}</option>
  {% endfor %}
{% endblock %}

{% block content %}
  {% for lemma in lang.lemmas %}
    <div class="lemma main" id={{ lemma.name }}>
      <hr class="lemma line">
      <h1 class="lemma name">{{ lemma.name }}</h1>
      <div class="lemma text">
        {{ lemma.text | safe}}
      </div>


      {# LOOP THROUGH DEFINITIONS #}
      {% for def in lemma.defs %}
        <div class="def main" id={{ lemma.name }}:{{ loop.index }}>
          <div class="def props">
            <div class="term pos">
              {{ def.pos | join(", ") | title}}
            </div>

            <div class="tags">
              {{ def.tags | join(", ")}}
            </div>

            {% for prop, val in def.props.items() %}
              <div class="prop">
                <span class="prop-key">{{ prop }}: </span>
                <span class="prop-val">{{ val }}</span>
              </div>
            {% endfor %}

            <div class="glosses">
              {{ def.glosses | join(", ")}}
            </div>
            
          </div>
          <div class="def text">
            {{ def.text | safe}}
          </div>

          <div class="link-section">
            {% if def.link_groups | length %}
              <div class="links">
                <div class="link-section-title"> Links </div>
                {% for link_group in def.link_groups %}
                  <div class="link-group">
                    <div class="link-group-label"> {{ link_group.type | title }} </div>
                    {% for link in link_group.links %}
                      <div class="link-url">
                        {{ link.url | safe}}
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if def.backlink_groups | length %}
              <div class="backlinks">
                <div class="link-section-title"> Backlinks </div>
                {% for link_group in def.backlink_groups %}
                  <div class="link-group">
                    <div class="link-group-label"> {{ link_group.type | title }} </div>
                    {% for link in link_group.links %}
                      <div class="link-url">
                        {{ link.url | safe}}
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        {% if not loop.last %}
          <hr class="def line">
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
