/* GENERIC */
body {
    font-size: 1.2em;
    font-family: "Times New Roman", Times, serif;
}

#title {
    text-align: center;
}

#content {
    max-width: 1000px;
    margin: auto;
    display: grid;
}

hr {
    border: 0;
    border-top: 2px solid lightgrey;
    height: 1px;
    width: 100%;
}

/* NAVBAR */
#topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 12%;
  position: fixed;
  background-color: lightgrey;
}

#topnav li a {
  display: block;
  color: #000;
  padding: 10px 16px;
  text-decoration: none;
  font-weight: bold;
}

/* Change the link color on hover */
#topnav li a:hover {
  background-color: #555;
  color: white;
}

/* TABLES */
.text table {
    border-collapse: collapse;
}

.text th, td {
    padding: 5px 10px 5px 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* WORD */
.lemma.name {
    font-weight: bold;
    font-style: italic;
    flex-shrink: 0;
    font-size: 140%;
}

.lemma.props {
    font-style: italic;
    font-size: 80%;
}

/* DEFINITION */
.def.props {
    /* font-style: italic; */
    padding-bottom: 2%;
}

.term {
    font-variant: small-caps;
    font-size: 120%;
}

.glosses {
    font-style: italic;
}


/* RANDOM STUFF */
a:visited {
    color: blue;
}

.highlight {
    font-weight: bold;
    background-color: yellow;
}

/* WIDGETS */
#widgets {
    display: flex;
    position: fixed;
    width: 20%;
    right: 5px;
}

#search {
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#select {
    width: 60px;
    height: 20px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
}
