{% extends "base.jinja2" %}
{% block pos %}
  <option value="all">All</option>
  {% for p in lang.pos_set %}
    <option value="{{ p }}">{{ p|title }}</option>
  {% endfor %}
{% endblock pos %}

{% block content %}
  {% for lemma in lang.lemmas %}
    <div class="lemma main" id={{ lemma.name }}>
      <hr class="lemma line">
      <h1 class="lemma name">{{ lemma.name }}</h1>
      <div class="lemma props">
        {% for prop in lemma.props %}
          <div class="prop">
            {{ prop }}
          </div>
        {% endfor %}
      </div>
      <div class="lemma text">
        {{ lemma.text | safe}}
      </div>


      {# LOOP THROUGH DEFINITIONS #}
      {% for def in lemma.defs %}
        <div class="def main">
          <div class="def props">
            <div class="term pos">
              {{ def.pos | join(", ")}}
            </div>
            <div class="glosses">
              {{ def.glosses | join(", ")}}
            </div>
          </div>
          <div class="def text">
            {{ def.text | safe}}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock content %}
