{% macro sentence_case(text) %}
  {{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

{% extends "base.jinja2" %}
{% block pos %}
  <option value="all">All</option>
  {% for p in lang.pos_set %}
    <option value="{{ p }}">{{ p|title }}</option>
  {% endfor %}
{% endblock pos %}

{% block content %}
  {% for word in lang.words %}
    <div class="word main" id={{ word.name }}>
      <hr class="word line">
      <h1 class="word name">{{ word.name }}</h1>
      <div class="word props">
        {% for prop in word.props %}
          <div class="prop">
            {{ prop }}
          </div>
        {% endfor %}
      </div>
      <div class="word text">
        {{word.text}}
      </div>


      {# LOOP THROUGH DEFINITIONS #}
      {% for def in word.defs %}
        <div class="def main">
          <div class="def props">
            <div class="term pos">
              {{ def.props.pop("pos", "") }}
            </div>
            <div class="glosses">
              {{ def.props.pop("glosses", "") }}
            </div>
            {% for prop in def.props %}
              <div class="prop">
                {{ prop }}
              </div>
            {% endfor %}
          </div>
          <div class="def text">
            {{ def.text }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock content %}
